$font-size:35px;
$background-color:white;
$color:#5f0a3d;


body{
    text-align: center;
    header{
        font-size:$font-size ;
        color:$color;
        margin:10px;
        padding:0px;
    }

    main{
        p{
            font-size:25px;
            color: #a42067;
            margin:10px;
        }

        img{
            width:55vw;
            height:40vh;
            margin:10px;
        }

        article{

            h3{
                color:#a0364f;
                margin:10px;
            }

            p{
                font-size:25px;
                color: #7b0e38;
                margin:10px;
            }
        }
        
        button{
            width:200px;
            height:40px;
            margin:10px;
            padding:2px;
            color:#f6f1f6;
            border:none;
            border-radius:10px;
            background-color: #640a1f;
        }
    }

}


